voiceover:
    title: Voiceover
    content: |
        Here's my demo. Have a listen. Let's work together.
    playlist: >
        <li><a class="singleton" rel="vo" href="">DEMO <span class="album">Click to Play</span></a></li>


music:
    title: Music
    playlist: >
        <li class="first"><a rel="rv_02RedRiveroftheNorth" href="">Red River of the North <span class="album">Rogue Valley</span></a></li>
        <li><a rel="rv_05Hummingbird1" href="">Hummingbird <span class="album">Rogue Valley</span></a></li>
        <li><a rel="rv_07RopeSwingOverRogueValley" href="">Rope Swing <span class="album">Rogue Valley</span></a></li>
        <li><a rel="rv_08UrsaMinor" href="">Ursa Minor <span class="album">Rogue Valley</span></a></li>
        
        <li><a rel="ac_02NoOneElse" href="">No One Else <span class="album">Alpha Centauri</span></a></li>
        <li><a rel="ac_03BoysAndGirls" href="">Boys and Girls <span class="album">Alpha Centauri</span></a></li>
        <li><a rel="ac_05Electrostatic" href="">Electrostatic <span class="album">Alpha Centauri</span></a></li>
        <li><a rel="ac_09KeepOurCardsClose" href="">Keep Our Cards Close <span class="album">Alpha Centauri</span></a></li>
        
        <li><a rel="coach_silentlyyousing" href="">Silently You Sing and Scream <span class="album">Coach Said Not To</span></a></li>
        <li><a rel="coach_anyyetstill" href="">Any Yet Still <span class="album">Coach Said Not To</span></a></li>


bands:
    title: Bands
    content: |
        [Rogue Valley][rv]
        [rv]: http://www.lostinroguevalley.com/RV/




about:
    title: About
    content: |
        linneaawake@gmail.com
