title: "Linnea Mohn - Voiceovers and music"
badge: "Linnea Mohn"
defaultpic: content/bg/bwglow2.jpg

metadesc: >
    Voiceover reel, music sampler, and bio for Linnea Mohn, 
    an actress and musician based in Minneapolis, MN


# this is a comment that doesn't do anything
pics:
    bwglow2.jpg: "coyishness" 
    tripleface4.jpg: "whoa! arty!"
    music3.jpg: "music music music"
    basslinnea.jpg: "b-b-b-b-bass"
    alphapunch.jpg: "kapow"
    rv_scohen.jpg: caption
    tac_vid1.jpg: caption
    tac_vid2.jpg: caption
    tac_vid3.jpg: caption
    tac_vid4.jpg: caption
    coachpool003.jpg: coach said not to hanging by the pool.

audiodir: 'content/audio_099r2ppn6/'

css: >
    #badge {
    width:330px;
    height:135px;
    background: transparent url(content/badge.png) top left no-repeat;
    }
    
    

